<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Num to Words with Sinatra Exercise</title>

</head>

<body>
<%= yield %>

<footer>
  <hr>
  <p>
    <a href="/">Index</a>
  </p>
  <p>
    <small>A <a href="http://bloc.io">Bloc Production</a></small>
  </p>
</footer>
</body>
</html>
